@using WebSchool.Models
@model WebSchool.Models.InstanceOfCourseViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";



}

<link rel="stylesheet" href="~/Content/plugins/timepicker/bootstrap-timepicker.min.css">
<!-- Select2 -->
<link rel="stylesheet" href="~/Content/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="~/Content/bootstrap-daterangepicker/daterangepicker.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="~/Content/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">







@using (Html.BeginForm("addClass", "Course", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()




    <div class="row">
        <div class="col-md-3">  </div>
        <div class="col-md-6">


            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Instancia de un curso</h3>
                </div>
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group">
                        <label>Fecha de programación:</label>
                        <div class="input-group date">

                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "date form-control" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                        <!-- /.input group -->
                    </div>

                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                            <label>Hora de inicio:</label>
                            <div class="input-group">

                                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "timepicker form-control" } })
                                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                            <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>


                    @*<div class="bootstrap-timepicker">
            <div class="form-group">
                <label>Hora de inicio:</label>
                <div class="input-group">

                    @Html.EditorFor(model => model.FinalTime, new { htmlAttributes = new { @class = "timepicker form-control" } })
                    @Html.ValidationMessageFor(model => model.FinalTime, "", new { @class = "text-danger" })
                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
                <!-- /.input group -->
            </div>
            <!-- /.form group -->
        </div>*@
                    <div class="form-group">
                        <label>Curso</label>
                        <div>
                            @Html.DropDownListFor(model => model.CourseID, (IEnumerable<SelectListItem>)ViewBag.Courses, String.Empty, new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })

                        </div>
                    </div>


                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <input type="submit" value="Create" class="btn btn-info pull-right" />
                </div>
            </div>
            <!-- /.box -->
        </div>
        <div class="col-md-3">  </div>

    </div>
}


@section Scripts {

    <script src="~/Content/select2/dist/js/select2.full.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/Content//moment/min/moment.min.js"></script>
    <script src="~/Content//bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap datepicker -->
    <script src="~/Content//bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- bootstrap color picker -->
    <script src="~/Content//bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <!-- bootstrap time picker -->
    <script src="~/Content/plugins/timepicker/bootstrap-timepicker.min.js"></script>

    <script>
        $(function () {
            //Initialize Select2 Elements
            $('select').select2()

            $('.date').datepicker({
                autoclose: true
            })
            $('.timepicker').timepicker({
                showInputs: false,
                timeFormat: 'h:mm:ss H'
            })

            $('.timepicker').timepicker().on('show.timepicker', function (e) {
                console.log('The time is ' + e.time.value);
                console.log('The hour is ' + e.time.hours);
                console.log('The minute is ' + e.time.minutes);
                console.log('The meridian is ' + e.time.meridian);
            });
        })</script>
}